{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>GM</title>
  <link rel="shortcut icon" href="{% static "images/icon.png" %}" type="image/png">
  <link rel="stylesheet" href="{%  static "style/style.css"%}" />
  {% block head %}
  {% endblock %}
</head>
<body>

  <nav class="top-nav">
    <ul>
      <li><a href="{% url "index" %}">Index</a></li>
      <li><a href="{% url "get_users" %}">Сбор</a></li>
      <li><a href="{% url "tokens_list" %}">Токены</a></li>
      <li><a href="{% url "check_fake" %}">Fake</a></li>
      <li id="nav-list"><a href="#">NBC</a>
        <ul>
          <li><a href="{% url "nbc_train" %}">Обучение</a></li>
          <li><a href="{% url "nbc_classifier" %}">Классификация</a></li>
        </ul>
      </li>
      <li id="nav-list"><a href="#">Анализ данных</a>
        <ul>
          <li><a href="{% url "analysis_general" %}">Общие данные</a></li>
          <li><a href="{% url "analysis_writers" %}">Писатели</a></li>
        </ul>
      </li>
      <li><a href="{% url "admin:index" %}">Admin</a></li>
      <li><a href="{% url "logout" %}">Выход</a></li>
    </ul>
  </nav>

<div class="body">

  {% if messages %}
    <ul class="message-list">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block content%}
  {% endblock %}

  <script src="{% static "scripts/jquery-3.1.1.min.js" %}"></script>
  <script src="{% static "scripts/base.js" %}"></script>
  {% block bottom %}
  {% endblock %}

</div>
</body>
</html>