{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "style/nbc.css" %}"/>
{% endblock %}

{% block content%}

  <form action="{% url "nbc_classifier" %}" method="POST" class="form">
  {% csrf_token %}
      <textarea name="text">{% if text %}{{ text }}{% endif %}</textarea>
      <button class='button-form' type="submit">Классифицировать</button>
  </form>

  {% if result %}
    <div class="result">
      <h4>Результат:</h4>
      {% for key, value in result.items %}
          {{ key }} : {{ value }}% <br><hr>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}

{% block bottom %}
  <script src="{% static "scripts/nbc.js" %}"></script>
{% endblock %}
