{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "style/nbc.css" %}"/>
{% endblock %}

{% block content%}

  <form action="{% url "nbc_train" %}" method="POST" class="form">
  {% csrf_token %}
      <div class="top-form">
        Категория:
        <select id='category' name="category">
            {% for category in object_list %}
                <option value="{{ category.id }}">{{ category.category }}</option>
            {% endfor %}
        </select>
      </div>
      <textarea name="text"></textarea>
      <button class='button-form' type="submit">Добавить</button>
  </form>

{% endblock %}

{% block bottom %}
  <script src="{% static "scripts/nbc.js" %}"></script>
{% endblock %}
