{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "style/get_users.css" %}"/>
{% endblock %}

{% block content%}

  <p>Узнать ID города:</p>
  <ul class="block-get-city">
    <li><input type="text" id="city-name" placeholder="Название"></li>
    <li><button class="button-form" id="btn-get-city">Ок</button></li>
    <li><button class="button-form" id="btn-city-clear">Очистить</button></li>
  </ul>

  <hr>

  <p>Получение пользователей:</p>
  <ul class="block-get-users">
    <li><input type="number" id="city-id" placeholder="ID Города"></li>
    <li><button class="button-form" id="btn-switch-panel">Получить</button></li>
  </ul>

  <hr>

  <div>
    {% if object_list %}
      <h3>Данные по городам:</h3>
        <table>
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Добавлен</th>
            <th></th>
          </tr>
          {% for city in object_list %}
            <tr>
              <td>
                {{ city.city_id }}
              </td>
              <td>
                {{ city.city_name }}
              </td>
              <td>
                {{ city.count_users }}
              </td>
              <td>
                {{ city.date_add }}
              </td>
              <td>
                <a href="{% url "city_delete" history_id=city.id %}">
                  <img id="{{ token.id }}"
                    width="20" height="20"
                    src="{% static "images/delete.png" %}"
                    alt="[X]" title="Удалить">
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
    {% else %}
    <p>Нет данных!</p>
    {% endif %}
  </div>

  <hr>

  <div id="block-result-id"></div>

{% endblock %}

{% block bottom %}
  <script src="{% static "scripts/get_users.js" %}"></script>
{% endblock %}

