{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "style/basic_views.css" %}"/>
{% endblock %}

{% block content%}

  <ul class="switch-panel">

    <li>Город:</li>
    <li><select id="select-cities" multiple size="5">
      {% for city in object_list %}
        <option value="{{ city.city_id }}">{{ city.city_name }}</option>
      {% endfor %}

    </select></li>

    <li>Пол:</li>
    <li><input type="radio" name="sex" class="radio" id="radio" value="" checked/>
    <label for="radio">Любой</label></li>
    <li><input type="radio" name="sex" class="radio" id="radio2" value="male"/>
    <label for="radio2">Мужской</label></li>
    <li><input type="radio" name="sex" class="radio" id="radio3" value="female"/>
    <label for="radio3">Женский</label></li>
    <br><br>
    <li>Возраст:</li>
    <li><input type="number" class="input-age" id="age-from" placeholder="от" min="0" max="150"></li>
    <li><input type="number" class="input-age" id="age-to" placeholder="до" min="0" max="150"></li>
    <br><br>
    <li><button class="button-form" id="btn-switch-panel">Применить</button></li>

  </ul>

  <hr>

  <div id="container">
  </div>

{% endblock %}

{% block bottom %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="{% static "scripts/basic_views.js" %}"></script>
{% endblock %}

