{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static "style/writers.css" %}"/>
{% endblock %}

{% block content%}

  <ul class="switch-panel">

    <li>Город:</li>
    <li><select id="select-cities" multiple size="5">
      {% for city in object_list %}
        <option value="{{ city.city_id }}">{{ city.city_name }}</option>
      {% endfor %}

    </select></li>

    <li>Возраст:</li>
    <li><input type="number" class="input-age" id="age-from" placeholder="от" min="0" max="150"></li>
    <li><input type="number" class="input-age" id="age-to" placeholder="до" min="0" max="150"></li>
    <br><br>
    <li><button class="button-form" id="btn-writers">Получить</button></li>

  </ul>

  <hr>

 <div id="container-writers"></div>

{% endblock %}

{% block bottom %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="{% static "scripts/writers.js" %}"></script>
{% endblock %}

