.block-get-city, .block-get-users {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.block-get-city li, .block-get-users li {
  float: left;
}

.block-get-city li:nth-child(2),
.block-get-city li:nth-child(3),
.block-get-users li:last-child {
  margin-left: 6px;
}

.block-get-city input, .block-get-users input {
  padding: 2px 3px;
  height: 20px;
}

#block-result-id {
  overflow: hidden;
}

.block-city-id {
  min-width: 218px;
  padding: 0 10px;
  border: 1px solid #CDD1DA;
  float: left;
}