{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{#  <link rel="stylesheet" href="{% static 'style/leaflet.css' %}"/>#}
{% endblock %}

{% block content %}
  <div class="form-default">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Вход</button>
    </form>
  </div>
{% endblock %}

{% block bottom %}
{% endblock %}
