.top-form {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.form {
  float: left;
}

.form textarea {  width: 950px;
  height: 400px;
  margin: 0 0 5px 0;
  display: block;
  resize: vertical;
  padding: 4px 6px;
  font-size: 14px;
  color: #555555;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.result {
  float: left;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  padding: 15px;
  font-size: 20px;
  max-width: 170px;
}

.result h4 {
  margin-top: 0;
}