{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'check_fake.css' %}" />
{% endblock %}

{% block content %}

  <input type="text" id="fake_id" name="fake_id" placeholder="ID или url">
  <button class="button-form" id="btn-send-fake-id">Проверить</button>

  <hr>

  <div class="container-fake-result">

    <ul id="block-base">
      <li id="base-name"></li>
      <li><a id="base-link-vk" href=""></a></li>
      <li><img id="base-ava" src=""></li>
    </ul>

    <div class="block-graph">
      <div id="friend-graph"></div>
      <button class="button-form" id="btn-big-graph">MAX</button>
      <button class="button-form" id="btn-small-graph">MIN</button>
    </div>

  <div class="register-dates">
    <canvas id="myChart">
      <canvas id="chart-legend-top"></canvas>
    </canvas>
  </div>

  </div>


{% endblock %}

{% block bottom %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static "Chart.min.js" %}"></script>
    <script src="{% static "check_fake.js" %}"></script>
{% endblock %}
