.chart {
  border-bottom: 1px solid;
  z-index: 1;
}

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

.radio + label {
  cursor: pointer;
}

.radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
}

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #507299;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}

.radio:checked + label:after {
  opacity: 1;
}

.radio:focus + label:before {
  box-shadow: 0 0 0 1px rgba(97, 180, 255, 0.5);
}

.input-age {
  width: 50px;
}

.switch-panel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.switch-panel li {
  float: left;
  margin-left: 10px;
}

.switch-panel select {
  padding: 5px;
}

.switch-panel .button-form {
  width: 190px;
}