
#container-writers {
  margin: 0 auto;
}

.input-age {
  width: 50px;
}

.switch-panel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.switch-panel li {
  float: left;
  margin-left: 10px;
}

.switch-panel select {
  padding: 5px;
}

.switch-panel .button-form {
  width: 190px;
}