{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <a href="{% url "token_add" %}" class="button">Подключить</a>
  <a href="{% url "token_create" %}" class="button">Добавить</a>

  <div>
    {% if object_list %}
      <h3>Подключенные токены:</h3>
        <table>
          <tr class="setting-panel">
            <td colspan="4"></td>
            <td class="setting" colspan="2">
              <a href="{% url "tokens_refresh" %}">
                <img width="20" height="20"
                  src="{% static "images/refresh.png" %}"
                  alt="[O]" title="Обновить"></a>
            </td>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <th>Активность</th>
            <th>Состояние</th>
            <th>ID</th>
            <th>Имя аккаунта</th>
            <th>Статус</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th></th>
            <th></th>
          </tr>
          {% for token in object_list %}
            <tr id="row{{ token.id }}">
              <td>
                {% if token.is_active %}
                  <a href="{% url "token_change"  token_id=token.id %}">
                    <img class="pause_token"
                      width="20" height="20"
                      src="{% static "images/pause.png" %}"
                      alt="[O]" title="Остановить"></a>
                {% else %}
                  <a href="{% url "token_change"  token_id=token.id %}">
                    <img class="start_token"
                      width="20" height="20"
                      src="{% static "images/play.png" %}"
                      alt="[O]" title="Запустить"></a>
                {% endif %}
              </td>
              <td>
                {{ token.is_active|yesno:"Включен, Отключен" }}
              </td>
              <td id="is_free{{ token.id }}">
                {{ token.is_free|yesno:"Свободен, Занят" }}
              </td>
              <td>
                {{ token.vk_id }}
              </td>
              <td>
                  <a href="https://vk.com/id{{ token.vk_id }}"
                  id="name{{ token.id }}">
                    {{ token.name }}</a>
              </td>
              <td id="status{{ token.id }}">
                {{ token.status }}
              </td>
              <td>
                {{ token.login|default:"---" }}
              </td>
              <td>
                {{ token.password|default:"---" }}
              </td>
              <td>
                <a href="{% url "token_update"  token_id=token.id %}">
                  <img width="20" height="20"
                    src="{% static "images/settings.png" %}"
                    alt="[O]" title="Настройки">
                </a>
              </td>
              <td>
                <a href="{% url "token_delete" token_id=token.id %}">
                  <img id="{{ token.id }}"
                    width="20" height="20"
                    src="{% static "images/delete.png" %}"
                    alt="[X]" title="Удалить">
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
    {% else %}
    <p>Нет токенов!</p>
    {% endif %}
  </div>

{% endblock %}
