{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <h3><a href="https://vk.com/id{{ object.vk_id }}">{{ object.name }}</a></h3>
  <div class="form-default">
    <form action="" method="POST">
    {% csrf_token %}
      {{ form.as_p }}
      <button class="button-form">Сохранить</button>
    </form>
  </div>

{% endblock %}

