.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.container-fake-result {
  /*display: none;*/
}

.block-graph {
  float: right;
}

#friend-graph {
  height: 400px;
  width: 400px;
  border:2px solid #000;
}

#friend-graph svg {
  background-color: #e2e2e2;
}

#block-base {
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  width: 300px;
  padding: 0;
  margin: 0;
  text-align: center;
  float: left;
}

#block-base li {
  list-style: none;
}

canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
}